.button-wrapper {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 2rem;
  flex: 1;
}

.light-mode {
  background-color: #f0f0f0;
  color: #000000;
  outline: 0.25px solid #000000;
  transition: background-color 0.25s ease-out;
}
.light-mode:hover {
  background-color: #d6d5d5;
}
.dark-mode {
  background: #666;
  color: #fff;
  outline: 0.25px solid #f0f0f0;
  transition: background-color 0.25s ease-out;
}
.dark-mode:hover {
  background-color: rgb(59, 59, 59);
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box > * {
  flex: 1 1 160px;
}

/* Clear Button */
.clear-btn {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 2rem;
  flex: 1;
}

/* Input */
.input {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  padding: 0.5rem 1rem;
}
