@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:400,500,700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
input {
  border: 0;
  outline: 0;
  background: transparent;
}

a {
  color: #002e43;
  text-decoration: none;
}
button,
a {
  cursor: pointer;
}

/**** Main CSS *******/

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
.dark {
  background: #000;
  color: #fff;
}
.light {
  background: #fff;
}
.is-parant-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.is-heading {
  font-size: 2rem;
  font-weight: 700;
  word-spacing: 0.25rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.is-theme-btns {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.is-theme-btns .btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  margin: 0.015rem;
  font-weight: 500;
  font-size: 1rem;
}

.row {
  display: flex;
  width: 100%;
}

.active {
  background: rgb(19, 18, 18);
  color: white;
  border: 1px solid rgb(44, 43, 43);
}

/* Calculator */
.button-wrapper {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 2rem;
  flex: 1;
}

.light-mode {
  background-color: #f0f0f0;
  color: #000000;
  outline: 0.25px solid #000000;
  transition: background-color 0.25s ease-out;
}
.light-mode:hover {
  background-color: #d6d5d5;
}
.dark-mode {
  background: #666;
  color: #fff;
  outline: 0.25px solid #f0f0f0;
  transition: background-color 0.25s ease-out;
}
.dark-mode:hover {
  background-color: rgb(59, 59, 59);
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box > * {
  flex: 1 1 160px;
}

/* Clear Button */
.clear-btn {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 2rem;
  flex: 1;
}

/* Input */
.input {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  padding: 0.5rem 1rem;
}

@media all and (max-width: 630px) {
  .is-parant-wrapper {
    padding: 1.5rem 0.25rem;
  }
  .is-heading {
    font-size: 1.5rem;
  }

  .is-theme-btns {
    padding: 1rem;
  }
  .button-wrapper,
  .clear-btn {
    height: 4rem;
  }

  .box > * {
    flex: 1 1 85px;
  }
}
